@use '../styles/breakpoints.scss';

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgba(29, 29, 29, 0.5);
  grid-area: aside;
  padding: 2rem 0;

  @include breakpoints.and-up(lg) {
    padding: 10rem 0 0 0;
  }
}

.sidebar-icons {
  display: flex;
  gap: 5rem;

  a {
    cursor: pointer;
    color: var(--white);
    transition: color 0.2s;

    &:hover {
      color: var(--red);
    }
  }

  @include breakpoints.and-up(lg) {
    flex-direction: column;
  }
}
